<!DOCTYPE html>
<html>

<head>
    <title><%= title %></title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css"
        integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog=="
        crossorigin="anonymous" />
</head>

<body>


    <main class="container mt-5">

        <h3 class="text-center my-5"><%= title %></h3>

        <div class="row">
            <section class="col-md-6 offset-md-3">
                <form action="/update/" method="post">

                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" name="name" id="name" value="<%=editData.name%>" class="form-control"
                            placeholder="Enter Your Name">
                    </div>

                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" name="email" id="email" value="<%=editData.email%>" class="form-control"
                            placeholder="Enter Your Name">
                    </div>

                    <div class="form-group">
                        <label for="">Employee Type</label>
                        <select name="etype" id="etype" class="form-control" value="<%=editData.etype%>">
                            <option value="Supervisor">Supervisor</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label for="hourlyRate">Hourly Rate</label>
                        <input type="hourlyRate" name="hourlyRate" id="hourlyRate" value="<%=editData.hourlyRate%>"
                            class="form-control" placeholder="Enter Your Name">
                    </div>

                    <div class="form-group">
                        <label for="totalHour">Total Hour</label>
                        <input type="totalHour" name="totalHour" id="totalHour" value="<%=editData.totalHour%>"
                            class="form-control" placeholder="Enter Your Name">
                    </div>

                    <input type="hidden" name="id" value="<%=editData._id %>">

                    <button type="submit" class="btn btn-primary">Submit</button>

                </form>
            </section>
        </div>

    </main>
</body>

</html>