<!DOCTYPE html>
<html>

<head>
  <title><%= title %></title>

  <!-- Including Header Scripts -->
  <%- include("../public/includes/headerScripts.ejs") %>

</head>

<body class="my-5">


  <main class="container mt-5">

    <% if(success !== "") { %>
    <div class="alert alert-success">
      <strong>Success!</strong> <%= success %>
    </div>
    <% } %>

    <!-- Button trigger modal -->
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#employeeModal">
      Add Employee
    </button>

    <!-- Employee Modal -->
    <div class="modal fade" id="employeeModal" tabindex="-1" role="dialog" aria-labelledby="employeeModalLabel"
      aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="employeeModalLabel">Add Employee</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <form action="/" method="post">

              <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="name" id="name" class="form-control" placeholder="Enter Your Name">
              </div>

              <div class="form-group">
                <label for="email">Email</label>
                <input type="email" name="email" id="email" class="form-control" placeholder="Enter Your Name">
              </div>

              <div class="form-group">
                <label for="etype">Employee Type</label>
                <select name="etype" id="etype" class="form-control">
                  <option value="Supervisor">Supervisor</option>
                </select>
              </div>

              <div class="form-group">
                <label for="hourlyRate">Hourly Rate</label>
                <input type="text" name="hourlyRate" id="hourlyRate" class="form-control" placeholder="Enter Your Name">
              </div>

              <div class="form-group">
                <label for="totalHour">Total Hour</label>
                <input type="text" name="totalHour" id="totalHour" class="form-control" placeholder="Enter Your Name">
              </div>

              <div class="form-group">
                <label for="profileImage">Profile Image</label>
                <input type="file" class="form-control-file" name="profileImage" id="profileImage">
              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Add Employee</button>
              </div>

            </form>

          </div>
        </div>
      </div>
    </div>



    <!-- Update Modal -->
    <div class="modal fade" id="updateEmployeeModal" tabindex="-1" role="dialog"
      aria-labelledby="updateEmployeeModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="updateEmployeeModalLabel">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            ...
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Save changes</button>
          </div>
        </div>
      </div>
    </div>


    <h3 class="text-center mb-3"><%= title %></h3>

    <div class="row text-center">
      <section class="col-md-12">
        <table class="table table-striped" id="dataTable">
          <thead>
            <tr>
              <th>Profile Image</th>
              <th>Name</th>
              <th>Email</th>
              <th>Employee Type</th>
              <th>Hourly Rate</th>
              <th>Total Hour</th>
              <th>Total</th>
              <th>Edit</th>
              <th>Delete</th>
            </tr>
          </thead>
          <tbody>

          </tbody>
        </table>
      </section>
    </div>
  </main>

  <!-- Including Header Scripts -->
  <%- include("../public/includes/footerScripts.ejs") %>

  <script src="/ajax/ajax.js"></script>

</body>

</html>